.content{
  flex-grow: 1;
}
.content-header{
  height: 64px;
  background-color: #404040;
  color: #fff;
  width: 100%;
  padding-left: 72px;
  line-height: 64px;
  flex-shrink: 0;
  position: fixed;
  z-index: 10;
}
.content-main{
  margin: 88px 24px 88px 24px;
  flex-grow: 1;
}
